<div class=" flex flex-col gap-4">
  <div>
    <p class=" text-lg font-bold text-fuchsia-800">Employee Management </p>
  </div>
  <!--Card-->
  <div class="flex gap-4 flex-wrap" >
    <mat-card class="w-96 h-auto shadow-xl p-4 " *ngFor="let employee of empData">
      <div class="flex flex-col gap-4">
      <p class=" text-xs font-semibold">Name:{{" "}}<span class="font-normal ">{{employee["name"]}}</span> </p>
      <p class=" text-xs font-semibold">Email:{{" "}}<span class="font-normal ">{{employee["email"]}}</span> </p>
      <p class=" text-xs font-semibold">Salary:{{" "}}<span class="font-normal ">{{employee["salary"]}}</span> </p>
      <p class=" text-xs font-semibold">Designation:{{" "}}<span class="font-normal ">{{employee["designation"]}}</span> </p>
      <p class=" text-xs font-semibold">Contact:{{" "}}<span class="font-normal ">{{employee["contact"]}}</span></p>
      <p class=" text-xs font-semibold">Casual Leaves:{{" "}}<span class="font-normal ">{{employee["allowedCasualLeaves"]}}</span></p>
      <p class=" text-xs font-semibold">Compensatory Leaves:{{" "}}<span class="font-normal ">{{employee["allowedCompensatoryLeaves"]}}</span></p>
      <p class=" text-xs font-semibold">Earned Leaves:{{" "}}<span class="font-normal ">{{employee["allowedEarnedLeaves"]}}</span></p>
     <p>{{employee.id}}</p>
      </div>
      <mat-card-actions>
        <!--Button -->
        <div class="flex w-full justify-end gap-2" >
          <button  mat-raised-button  color="primary" (click)="updateEmpDialog(employee.id)">UPDATE</button>
          <button  mat-raised-button  color="warn" (click)="openDeleteDialog(employee.id)">Delete</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

