<div class=" flex flex-col gap-4">
  <div>
    <p class=" text-lg font-bold text-fuchsia-800">Account Settings </p>
  </div>
  <!--Card-->
    <mat-card class="w-96 h-auto shadow-xl p-4 ">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <mat-card-title>Update Profile Settings</mat-card-title>
          <mat-card-subtitle class="text-fuchsia-800">Here you can update your profile information</mat-card-subtitle>
<!--          <mat-card-subtitle class="text-red-800">Note: To update your other credentials, contact your admin.</mat-card-subtitle>-->
        </div>
        <!--Update Name-->
        <div class="flex flex-col" >
        <mat-form-field appearance="fill">
          <mat-label>Update Name</mat-label>
          <input [(ngModel)]="this.updateProfileSettingForm.name" matInput placeholder="John Doe" >
        </mat-form-field>
      </div>
        <div class="flex flex-col" >
          <mat-form-field appearance="fill">
            <mat-label>Update Contact</mat-label>
            <input [(ngModel)]="this.updateProfileSettingForm.contact" matInput placeholder="012345678910" >
          </mat-form-field>
        </div>
        <!--Update Password-->
        <div class="flex flex-col" >
        <mat-form-field appearance="fill">
          <mat-label>Update Password</mat-label>
          <input [(ngModel)]="this.updateProfileSettingForm.password" matInput placeholder="Secret">
        </mat-form-field>
        <mat-card-actions>
          <!--Button -->
          <div class="flex w-full justify-end">
            <button (click)="updateSetting()" mat-raised-button color="primary">UPDATE</button>
          </div>
        </mat-card-actions>
        </div>
      </div>
    </mat-card>
  </div>
