<div class=" flex flex-col gap-4">
  <div>
    <p class="text-xl font-medium text-blue-800 underline">Account Settings </p>
  </div>
  <!--Card-->
    <mat-card class="w-96 h-auto shadow-xl p-4 ">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <mat-card-title>Update Profile Settings</mat-card-title>
          <mat-card-subtitle class="text-blue-800">Here you can update your profile information</mat-card-subtitle>
        </div>
        <!--Update Name-->
        <div class="flex flex-col" >
        <mat-form-field appearance="fill">
          <mat-label>Update Name</mat-label>
          <input required [(ngModel)]="this.updateProfileSettingForm.name" matInput placeholder="John Doe" >
          <mat-error *ngIf="updateProfileSettingForm.name == ''">Must enter a value</mat-error>
        </mat-form-field>
      </div>
        <div class="flex flex-col" >
          <mat-form-field appearance="fill">
            <mat-label>Update Contact</mat-label>
            <input required [(ngModel)]="this.updateProfileSettingForm.contact" matInput placeholder="012345678910" >
            <mat-error *ngIf="updateProfileSettingForm.contact == ''">Must enter a value</mat-error>
          </mat-form-field>
        </div>
        <!--Update Password-->
        <div class="flex flex-col" >
        <mat-form-field appearance="fill">
          <mat-label>Update Password</mat-label>
          <input required [(ngModel)]="this.updateProfileSettingForm.password" matInput placeholder="Secret">
          <mat-error *ngIf="updateProfileSettingForm.password == ''">Must enter a value</mat-error>
        </mat-form-field>
        <mat-card-actions>
          <!--Button -->
          <div class="flex w-full justify-end">
            <button (click)="updateSetting()" mat-raised-button color="primary">UPDATE</button>
          </div>
        </mat-card-actions>
        </div>
      </div>
    </mat-card>
  </div>
