 <div class=" w-96 h-auto">
    <div>
      <h1 mat-dialog-title>Add Leaves</h1>
      <div mat-dialog-content>Number of leaves will be allocated to {{empName}}.</div>
    </div>
    <!--Form -->
    <div class="flex flex-col w-full p-3">
      <!--ADD -->
      <mat-form-field appearance="fill">
        <mat-label>ADD</mat-label>
        <input type="number" RestrictNegativeNumericValue matInput placeholder="Ex: 1">
      </mat-form-field>
      <!--Button -->
       <div mat-dialog-actions>
         <button mat-button mat-dialog-close color="primary">ADD</button>
       </div>
    </div>
 </div>
