<div class=" flex flex-col gap-4">
  <div>
    <p class=" text-lg font-bold text-fuchsia-800">Leave/Attendance Record </p>
  </div>
  <!--Tabs-->
  <mat-tab-group  dynamicHeight  >
    <!--Tab 1 Leave Request-->
    <mat-tab label="LEAVE RECORD" >
    <!--   Table    -->
      <div class="flex flex-col gap-2 flex-wrap p-10 " >
        <mat-accordion>
          <mat-expansion-panel *ngFor="let employee of employeeLeaveRecord" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Name/Contact Number
              </mat-panel-title>
              <mat-panel-description class="text-fuchsia-800">
                {{employee["EmployeeName"]}}, {{employee["EmployeeContact"]}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex gap-4 justify-center  p-10" >
              <mat-card class="w-full h-auto shadow-xl p-4" >
                <div class="flex flex-col gap-4">
                  <mat-card-title>Leave Record</mat-card-title>
                  <mat-divider></mat-divider>
                  <mat-card-subtitle>Allowed Leaves</mat-card-subtitle>
                  <p class=" text-xs font-semibold">Casual Leaves:{{" "}}<span class="font-normal ">{{employee["allowedCasualLeaves"]}}</span> </p>
                  <p class=" text-xs font-semibold">Compensatory Leaves:{{" "}}<span class="font-normal ">{{employee["allowedCompensatoryLeaves"]}}</span> </p>
                  <p class=" text-xs font-semibold">Earned Leaves:{{" "}}<span class="font-normal ">{{employee["allowedEarnedLeaves"]}}</span> </p>
                  <mat-divider></mat-divider>
                  <mat-card-subtitle>Consumed Leaves</mat-card-subtitle>
                  <p class=" text-xs font-semibold">Casual Leaves:{{" "}}<span class="font-normal ">{{employee["consumedCasualLeaves"]}}</span> </p>
                  <p class=" text-xs font-semibold">Compensatory Leaves:{{" "}}<span class="font-normal ">{{employee["consumedCompensatoryLeaves"]}}</span> </p>
                  <p class=" text-xs font-semibold">Earned Leaves:{{" "}}<span class="font-normal ">{{employee["consumedEarnedLeaves"]}}</span> </p>
                </div>
              </mat-card>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <!-- Tab 2 Add Leave     -->
    <mat-tab label="ATTENDANCE RECORD">
      <!-- Card -->
      <div class="flex gap-4 flex-wrap p-10"   >
        <mat-card class="w-96 h-auto shadow-xl p-4" >
          <div class="flex flex-col gap-4">
            <mat-card-title>Attendance</mat-card-title>
            <mat-form-field>
              <mat-label>Employee's</mat-label>
              <mat-select>
                <mat-option *ngFor="let employee of employeeLeaveRecord"  [value]="employee['EmployeeId']">
                  {{employee["EmployeeName"]}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="self-end" *ngFor="let employee of employeeLeaveRecord">
            <mat-card-actions>
               <button mat-raised-button color="primary" (click)="getAttendance(employee['EmployeeId'])">Get Attendance</button>
            </mat-card-actions>
            </div>
          </div>
        </mat-card>
      </div>

    </mat-tab>
  </mat-tab-group>

</div>


