<mat-drawer-container class="w-screen h-screen">
<!-- drawer options -->
  <mat-drawer mode="side" opened class="w-60 ">
    <p class="text-lg font-semibold p-4">Company ABC</p>
    <mat-list>
      <div *ngIf="user === 'employee'" class="flex flex-col gap-12 p-4  w-full">
      <a routerLink="/employee/account-setting">Account setting</a>
      <a routerLink="/employee/apply-for-leave">Apply for leave</a>
      <a routerLink="/employee/attendance">Attendance</a>
      <a routerLink="/employee/record">Record</a>
      </div>
      <div *ngIf="user === 'admin'" class="flex flex-col gap-12 p-4 w-full">
        <a routerLink="/admin/add-employee">Add employee</a>
        <a routerLink="/admin/employee-management">Employee management</a>
        <a routerLink="/admin/leave-management">Leave management</a>
        <a routerLink="/admin/record">Record</a>
      </div>
    </mat-list>
  </mat-drawer>
<!-- main content -->
  <mat-drawer-content class="flex flex-col">
    <p class="p-2 text-xl font-semibold">Welcome {{title}} </p>
  <mat-divider> </mat-divider>
    <div class="p-4">
    <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
