.drawer-container{
  @apply
  hidden
  lg:block
  md:block
  xl:block
}
.show-icon{
  @apply
  mr-2
  sm:block
  md:hidden
  lg:hidden
  xl:hidden
}

.active-option {
  @apply
  bg-blue-800
  text-white
  py-4
  rounded-r-full
}
