<mat-drawer-container class="w-screen h-screen">
  <!-- drawer options -->
  <mat-drawer mode="side" opened class="w-60 ">
    <p class="text-lg font-semibold p-4">Company ABC</p>
    <mat-list>
      <div class="flex flex-col gap-12 p-4  w-full">
        <a routerLink="/employee/attendance">Attendance</a>
        <a routerLink="/employee/apply-for-leave">Apply for Leave</a>
        <a routerLink="/employee/record">Leave/Attendance Record</a>
        <a routerLink="/employee/account-setting">Account Settings</a>
        <a routerLink="">Logout</a>
      </div>
    </mat-list>
  </mat-drawer>
  <!-- main content -->
  <mat-drawer-content class="flex flex-col " >
    <div class="sticky top-0 z-10 bg-slate-50">
      <p class="p-4 text-xl font-semibold">Welcome: {{greeting}}  </p>
      <mat-divider> </mat-divider>
    </div>
    <div class="p-4"> <ng-content></ng-content> </div>
  </mat-drawer-content>
</mat-drawer-container>

