<div class="flex flex-col gap-2">
  <div>
    <p class=" text-xl font-medium text-blue-800 underline">Add an Employee </p>
  </div>
<!--Card-->
  <div class="mr-20 mt-2">
    <mat-card class="w-full h-auto shadow-xl ">
      <mat-card-header>
        <mat-card-title>Employee Registration</mat-card-title>
        <mat-card-subtitle class="text-blue-800">Please fill the form to add an employee.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <!--Form -->
        <div class="flex flex-col p-2 w-full">
          <div class="flex justify-around gap-2">
            <!--Name -->
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Name</mat-label>
              <input [(ngModel)]="addEmployeeForm.name" matInput placeholder="John Doe" >
            </mat-form-field>
             <!--Email -->
             <mat-form-field class="w-full" appearance="fill">
              <mat-label>Email</mat-label>
              <input [(ngModel)]="addEmployeeForm.email" matInput placeholder="johndoe@example.com" >
            </mat-form-field>
          </div>
          <div class="flex justify-around gap-2">
            <!--Create Password-->
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Create Password</mat-label>
              <input [(ngModel)]="addEmployeeForm.password" matInput placeholder="Secret">
            </mat-form-field>
            <!--Contact Number -->
            <mat-form-field class="w-full"  appearance="fill">
              <mat-label>Contact Number</mat-label>
              <input [(ngModel)]="addEmployeeForm.contact" matInput placeholder="00123243831">
            </mat-form-field>
          </div>
          <div class="flex justify-around gap-2">
            <!--Designation -->
            <mat-form-field class="w-full"  appearance="fill">
              <mat-label>Designation</mat-label>
              <input [(ngModel)]="addEmployeeForm.designation" matInput placeholder="Junior Developer">
            </mat-form-field>
            <!--Salary -->
            <mat-form-field class="w-full"  appearance="fill">
              <mat-label>Salary</mat-label>
              <input [(ngModel)]="addEmployeeForm.salary" type="number" RestrictNegativeNumericValue matInput placeholder="10,00">
            </mat-form-field>
          </div>
          <div class="flex justify-around gap-2">
            <mat-form-field class="w-full"  appearance="fill">
              <mat-label>Casual Leaves</mat-label>
              <input type="number" [(ngModel)]="addEmployeeForm.allowedCasualLeaves" RestrictNegativeNumericValue matInput placeholder="1">
            </mat-form-field>
            <mat-form-field class="w-full"  appearance="fill">
              <mat-label>Compensatory Leaves</mat-label>
              <input type="number" [(ngModel)]="addEmployeeForm.allowedCompensatoryLeaves" RestrictNegativeNumericValue matInput placeholder="1">
            </mat-form-field>
            <mat-form-field class="w-full"  appearance="fill">
              <mat-label>Earned Leaves</mat-label>
              <input type="number" [(ngModel)]="addEmployeeForm.allowedEarnedLeaves" RestrictNegativeNumericValue matInput placeholder="1">
            </mat-form-field>
          </div>
            <!--Button -->
            <div class="flex justify-center" >
              <button class="w-96" mat-raised-button color="primary" (click)="addEmployee()" >ADD</button>
            </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
