<div class="flex flex-col gap-2">
  <div>
    <p class=" text-lg font-bold text-fuchsia-800">Add an Employee </p>
  </div>
<!--Card-->
  <div class="mr-20 mt-2">
    <mat-card class="w-full h-auto shadow-xl ">
      <mat-card-header>
        <mat-card-title>Employee Registration</mat-card-title>
        <mat-card-subtitle class="text-fuchsia-800">Please fill the form to add an employee.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <!--Form -->
        <div class="flex flex-col p-2 w-full">
          <div class="flex justify-around gap-2">
            <!--Name -->
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput placeholder="John Doe" >
            </mat-form-field>
             <!--Email -->
             <mat-form-field class="w-full" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="johndoe@example.com" >
            </mat-form-field>
          </div>
          <div class="flex justify-around gap-2">
            <!--Create Password-->
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Create Password</mat-label>
              <input matInput placeholder="Secret">
            </mat-form-field>
            <!--Contact Number -->
            <mat-form-field class="w-full"  appearance="fill">
              <mat-label>Contact Number</mat-label>
              <input matInput placeholder="00123243831">
            </mat-form-field>
          </div>
          <div class="flex justify-around gap-2">
            <!--Designation -->
            <mat-form-field class="w-full"  appearance="fill">
              <mat-label>Designation</mat-label>
              <input matInput placeholder="Junior Developer">
            </mat-form-field>
            <!--Salary -->
            <mat-form-field class="w-full"  appearance="fill">
              <mat-label>Salary</mat-label>
              <input type="number" RestrictNegativeNumericValue matInput placeholder="10,00">
            </mat-form-field>
          </div>
            <!--Button -->
            <div class="flex justify-end" >
              <button class="w-1/4" mat-raised-button color="primary">ADD</button>
            </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
