<div class="w-screen h-screen">
  <div class="w-full h-full flex flex-col justify-center items-center">
<!--  card  -->
      <div>
        <div class="mb-2">
        <p class="font-semibold text-xl" > Welcome</p>
        </div>
      <mat-card class="w-96 h-auto shadow-xl ">
        <mat-card-header>
          <mat-card-title>Employee Login</mat-card-title>
          <mat-card-subtitle>Please enter your login credentials.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <!--Form -->
          <div class="flex flex-col p-2 w-full">
            <!--ID -->
            <mat-form-field appearance="fill">
              <mat-label>Enter Your ID</mat-label>
              <input matInput placeholder="EM1111111" [formControl]="id" required>
              <mat-error *ngIf="id.hasError('required')">You must enter your ID</mat-error>
            </mat-form-field>
            <!-- Password-->
            <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'"  [formControl]="password" required >
              <mat-error *ngIf="password.hasError('required')">Password must not be empty</mat-error>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <!--Button -->
            <div class="flex justify-end" >
              <button  mat-raised-button color="primary" (click)="onClick()">Sign In</button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
