<div class="w-screen h-screen">
  <div class="w-full h-full flex justify-center items-center">
    <div>
      <mat-card class="w-96 h-auto">

        <mat-card-header>
          <mat-card-title>Employee Login</mat-card-title>
          <mat-card-subtitle>Please enter your login credentials.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <!-- -->
          <div class="flex flex-col p-2 w-full">
            <mat-form-field appearance="fill">
              <mat-label>Enter Your ID</mat-label>
              <input matInput placeholder="EM1111111" [formControl]="id" required>
              <mat-error *ngIf="id.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <!-- -->
            <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <div class="flex justify-end" >
              <button disabled="true" mat-raised-button color="primary">Sign In</button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
