<div class=" flex flex-col gap-4">
  <div>
    <p class="text-xl font-medium text-blue-800 underline">Apply for Leave</p>
  </div>
  <!--Tabs-->
  <mat-tab-group  dynamicHeight  (click)="getLeaveStatus()">
    <!--Tab 1 Apply for leave-->
    <mat-tab label="APPLY FOR LEAVE" >
      <!-- Card -->
      <div class="flex flex-col gap-10 py-10 " >
        <!--  Table   -->
        <table mat-table [dataSource]="dataSource" class="shadow-lg">
          <!-- Description Type Column -->
          <ng-container matColumnDef="Description Type">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let descriptionType" class="font-[500]"> {{descriptionType.description}} </td>
          </ng-container>
          <!-- Allowed Column -->
          <ng-container matColumnDef="Allowed Leaves">
            <th mat-header-cell *matHeaderCellDef > Allowed Leaves </th>
            <td mat-cell *matCellDef="let leave" > {{leave["allowed"]}} </td>
          </ng-container>
          <!-- Consumed Column -->
          <ng-container matColumnDef="Consumed Leaves">
            <th mat-header-cell *matHeaderCellDef> Consumed Leaves </th>
            <td mat-cell *matCellDef="let leave"> {{leave["consumed"]}} </td>
          </ng-container>
          <!-- Balance Column -->
          <ng-container matColumnDef="Balance">
            <th mat-header-cell *matHeaderCellDef> Balance </th>
            <td mat-cell *matCellDef="let leave"> {{leave["totalBalance"]}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!--Apply for leave -->
        <mat-card class="w-auto h-auto shadow-xl p-4 ">
          <form (ngSubmit)="applyLeave()">

            <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-2">
              <mat-card-title >Apply For Leave</mat-card-title>
              <mat-card-subtitle class="text-red-800 text-xs">Note: Half Leave will be deducted as (.5) from yours leaves</mat-card-subtitle>
            </div>
            <div class="flex w-full justify-between gap-2">
              <!-- Date Picker-->
              <!-- To Date -->
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>To Date</mat-label>
                <input name="toDate" required [(ngModel)]="applyLeaveForm.toDate" matInput [matDatepicker]="toPicker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-error *ngIf="applyLeaveForm.toDate == ''">Must enter a value</mat-error>
                <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
              </mat-form-field>
              <!-- From Date -->
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>From Date</mat-label>
                <input name="fromDate" required [(ngModel)]="applyLeaveForm.fromDate" matInput [matDatepicker]="fromPicker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-error *ngIf="applyLeaveForm.fromDate == ''">Must enter a value</mat-error>
                <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
                <mat-datepicker #fromPicker></mat-datepicker>
              </mat-form-field>

            </div>
            <div class="flex w-full justify-between gap-2">
              <!--Dropdown -->
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Type of Leave</mat-label>
                <mat-select name="tLeave" required [(ngModel)]="applyLeaveForm.leaveType">
                  <mat-option value="full">Full</mat-option>
                  <mat-option value="half">Half</mat-option>
                </mat-select>
                <mat-error *ngIf="applyLeaveForm.leaveType == ''">Must select an option</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Description of Leave</mat-label>
                <mat-select name="descLeave" required [(ngModel)]="applyLeaveForm.descriptionLeave">
                  <mat-option value="Casual">Casual</mat-option>
                  <mat-option value="Compensatory">Compensatory</mat-option>
                  <mat-option value="Earned">Earned</mat-option>
                </mat-select>
                <mat-error *ngIf="applyLeaveForm.descriptionLeave == ''">Must select an option</mat-error>
              </mat-form-field>
            </div>
            <!--  Reason for Leave   -->
            <mat-form-field>
              <mat-label>Reason</mat-label>
              <textarea name="reason" required [(ngModel)]="applyLeaveForm.reason"  matInput placeholder="Description for Leave"></textarea>
              <mat-error *ngIf="applyLeaveForm.reason == ''">Must enter a value</mat-error>
            </mat-form-field>
            <mat-card-actions>
              <!--Button -->
              <div class="flex w-full justify-center " >
                <button class="w-96" mat-raised-button  color="primary" type="submit">APPLY</button>
              </div>
            </mat-card-actions>
          </div>
          </form>
        </mat-card>
      </div>
    </mat-tab>
    <!-- Tab 2 leave Status     -->
    <mat-tab  label="LEAVE STATUS" >
      <!-- Card -->
      <div class="flex gap-4 flex-wrap py-10" >
        <mat-card class="w-96 h-auto shadow-xl p-4 flex-col gap-4 " *ngFor="let leave of leaveStats" >
          <div class="flex flex-col gap-2">
            <mat-card-title >Leave Status</mat-card-title>
            <mat-card-subtitle class="text-red-800">Note: In any case contact your admin for leave approval.</mat-card-subtitle>
          </div>
          <div class="flex flex-col gap-4">
            <p class=" text-xs font-semibold">Applied for Leave:{{" "}}<span class="font-normal ">{{leave["fromDate"]|date:"dd, MMMM, yyyy"}} - {{leave["toDate"]|date:"dd, MMMM, yyyy"}}</span> </p>
            <p class=" text-xs font-semibold">Status:{{" "}}<span class="font-normal ">{{leave.status}}</span> </p>
            <p class=" text-xs font-semibold">Leave Type:{{" "}}<span class="font-normal ">{{leave["leaveType"]|uppercase}}</span> </p>
            <p class=" text-xs font-semibold">Reason:{{" "}}<span class="font-normal ">{{leave.reason}}</span> </p>
          </div>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>


