<div class=" flex flex-col gap-4">
  <div>
    <p class=" text-lg font-bold text-fuchsia-800">Apply for Leave</p>
  </div>
  <!--Tabs-->
  <mat-tab-group  dynamicHeight  (click)="getLeaveStatus()">
    <!--Tab 1 Apply for leave-->
    <mat-tab label="APPLY FOR LEAVE" >
      <!-- Card -->
      <div class="flex flex-col gap-10  p-10 " >
        <mat-card class="w-full h-full  shadow-xl p-4  " >
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <div class="flex gap-2 items-center">
                <mat-card-title >Leave Count Manager</mat-card-title>
                <mat-card-subtitle class="text-fuchsia-800" >(Managed by Admin).</mat-card-subtitle>
              </div>
              <mat-card-subtitle class="text-red-800 text-xs">Note: In any case contact admin to reschedule your leave limit.</mat-card-subtitle>
            </div>

            <div class="flex flex-col gap-2 items-center w-full">

              <div class="flex justify-start items-center  gap-6 mt-4">
                <p class="font-semibold text-red-500">Casual Leaves:  </p>
                <p class=" text-sm font-semibold text-fuchsia-800">Allowed Leaves:{{" "}}<span class="font-normal text-black">{{allowedCasualLeaves}}</span> </p>
                <p class=" text-sm font-semibold text-fuchsia-800">Consumed Leaves:{{" "}}<span class="font-normal text-black">{{consumedCasualLeaves}}</span> </p>
                <p class=" text-sm font-semibold text-fuchsia-800">Balance:{{" "}}<span class="font-normal ">{{balanceCasualLeaves}}</span> </p>
              </div>
              <div class="flex justify-start items-center gap-6 mt-4">
                <p class="font-semibold text-red-500">Compensatory Leaves:</p>
                <p class=" text-sm font-semibold text-fuchsia-800">Allowed Leaves:{{" "}}<span class="font-normal text-black ">{{allowedCompensatoryLeaves}}</span> </p>
                <p class=" text-sm font-semibold text-fuchsia-800">Consumed Leaves:{{" "}}<span class="font-normal text-black ">{{consumedCompensatoryLeaves}}</span> </p>
                <p class=" text-sm font-semibold text-fuchsia-800">Balance:{{" "}}<span class="font-normal text-black">{{balanceCompensatoryLeaves}}</span> </p>
              </div>
              <div class="flex justify-start items-center gap-6 mt-4">
                <p class="font-semibold text-red-500">Earned Leaves:  </p>
                <p class=" text-sm font-semibold text-fuchsia-800">Allowed Leaves:{{" "}}<span class="font-normal text-black">{{allowedEarnedLeaves}}</span> </p>
                <p class=" text-sm font-semibold text-fuchsia-800">Consumed Leaves:{{" "}}<span class="font-normal text-black">{{consumedEarnedLeaves}}</span> </p>
                <p class=" text-sm font-semibold text-fuchsia-800">Balance:{{" "}}<span class="font-normal text-black">{{balanceEarnedLeaves}}</span> </p>
              </div>
            </div>
          </div>
        </mat-card>
      <!--Apply for leave -->
        <mat-card class="w-auto h-auto shadow-xl p-4 ">
          <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-2">
              <mat-card-title >Apply For Leave</mat-card-title>
              <mat-card-subtitle class="text-red-800 text-xs">Note: Check your Leave limit before applying for leave.</mat-card-subtitle>
            </div>
            <div class="flex w-full justify-between gap-2">
              <!-- Date Picker-->
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>To Date</mat-label>
                <input [(ngModel)]="applyLeaveForm.toDate" matInput [matDatepicker]="toPicker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-full">
                  <mat-label>From Date</mat-label>
                  <input [(ngModel)]="applyLeaveForm.fromDate" matInput [matDatepicker]="fromPicker">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
                <mat-datepicker #fromPicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="flex w-full justify-between gap-2">
               <!--Dropdown -->
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Type of Leave</mat-label>
                <mat-select [(ngModel)]="applyLeaveForm.leaveType">
                  <mat-option value="full">Full</mat-option>
                  <mat-option value="half">Half</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Description of Leave</mat-label>
                <mat-select [(ngModel)]="applyLeaveForm.descriptionLeave">
                  <mat-option value="Casual">Casual</mat-option>
                  <mat-option value="Compensatory">Compensatory</mat-option>
                  <mat-option value="Earned">Earned</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
              <!--  Reason for Leave   -->
            <mat-form-field>
              <mat-label>Reason</mat-label>
              <textarea [(ngModel)]="applyLeaveForm.reason"  matInput placeholder="Description for Leave"></textarea>
            </mat-form-field>
            <mat-card-actions>
              <!--Button -->
              <div class="flex w-full justify-end " >
                <button (click)="applyLeave()" mat-raised-button  color="primary">APPLY</button>
              </div>
            </mat-card-actions>
          </div>
        </mat-card>
      </div>
    </mat-tab>
    <!-- Tab 2 leave Status     -->
    <mat-tab  label="LEAVE STATUS" >
      <!-- Card -->
      <div class="flex gap-4 flex-wrap p-10" >
        <mat-card class="w-96 h-auto shadow-xl p-4 flex-col gap-4 " *ngFor="let leave of leaveStats" >
          <div class="flex flex-col gap-2">
            <mat-card-title >Leave Status</mat-card-title>
            <mat-card-subtitle class="text-red-800">Note: In any case contact your admin for leave approval.</mat-card-subtitle>
          </div>
          <div class="flex flex-col gap-4">
            <p class=" text-xs font-semibold">Applied for Leave:{{" "}}<span class="font-normal ">{{leave["toDate"]|date:"dd, MMMM, yyyy"}} - {{leave["fromDate"]|date:"dd, MMMM, yyyy"}}</span> </p>
            <p class=" text-xs font-semibold">Status:{{" "}}<span class="font-normal ">{{leave.status}}</span> </p>
            <p class=" text-xs font-semibold">Leave Type:{{" "}}<span class="font-normal ">{{leave["leaveType"]|uppercase}}</span> </p>
            <p class=" text-xs font-semibold">Reason:{{" "}}<span class="font-normal ">{{leave.reason}}</span> </p>
          </div>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>


