  <div class="w-fit h-full">
        <div class="flex flex-col">
          <h1 mat-dialog-title>Update Employee</h1>
          <div mat-dialog-content>Please fill any field you want to update.</div>
        </div>
        <!--Form -->
        <div class="flex flex-col p-2 w-full  ">
            <div class="flex justify-around gap-2">
              <!--Name -->
              <mat-form-field class="w-full" appearance="fill">
                <mat-label>Name</mat-label>
                <input [(ngModel)]="updateEmployeeForm.name" matInput placeholder="John Doe" >
              </mat-form-field>
              <!--Update Password-->
              <mat-form-field class="w-full" appearance="fill">
                <mat-label>Password</mat-label>
                <input [(ngModel)]="updateEmployeeForm.password" matInput placeholder="Secret">
              </mat-form-field>
          </div>
          <div class="flex justify-around gap-2">
            <!--Contact Number -->
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Contact Number</mat-label>
              <input [(ngModel)]="updateEmployeeForm.contact" matInput placeholder="00123243831">
              <p>{{updateEmployeeForm.contact}}</p>
            </mat-form-field>
            <!--Designation -->
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Designation</mat-label>
              <input [(ngModel)]="updateEmployeeForm.designation" matInput placeholder="Junior Developer">
            </mat-form-field>
          </div>
          <div class="flex justify-around gap-2">
            <!--Salary -->
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Salary</mat-label>
              <input [(ngModel)]="updateEmployeeForm.salary" type="number" RestrictNegativeNumericValue matInput placeholder="10,00">
            </mat-form-field>
            <mat-form-field class="w-full"  appearance="fill">
              <mat-label>Casual Leaves</mat-label>
              <input type="number" [(ngModel)]="updateEmployeeForm.allowedCasualLeaves" RestrictNegativeNumericValue matInput placeholder="1">
            </mat-form-field>
          </div>
          <div class="flex justify-around gap-2">
            <mat-form-field class="w-full"  appearance="fill">
              <mat-label>Compensatory Leaves</mat-label>
              <input type="number" [(ngModel)]="updateEmployeeForm.allowedCompensatoryLeaves" RestrictNegativeNumericValue matInput placeholder="1">
            </mat-form-field>
            <mat-form-field class="w-full"  appearance="fill">
              <mat-label>Earned Leaves</mat-label>
              <input type="number" [(ngModel)]="updateEmployeeForm.allowedEarnedLeaves" RestrictNegativeNumericValue matInput placeholder="1">
            </mat-form-field>
          </div>
          <!--Button -->
          <div mat-dialog-actions  >
            <button (click)="updateEmployee()"  mat-button mat-dialog-close color="primary">UPDATE</button>
          </div>
        </div>
  </div>
