  <div class="w-fit h-full">
        <div class="flex flex-col">
          <h1 mat-dialog-title>Update Employee</h1>
          <div mat-dialog-content>Please fill any field you want to update.</div>
        </div>
        <!--Form -->
        <div class="flex flex-col p-2 w-full  ">
            <div class="flex justify-around gap-2">
              <!--Name -->
              <mat-form-field class="w-full" appearance="fill">
                <mat-label>Name</mat-label>
                <input [(ngModel)]="updateEmployeeForm.name" matInput placeholder="John Doe" >
              </mat-form-field>
              <!--Email -->
              <mat-form-field class="w-full" appearance="fill">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="updateEmployeeForm.email" matInput placeholder="johndoe@example.com" >
              </mat-form-field>
          </div>
          <div class="flex justify-around gap-2">
            <!--Update Password-->
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Password</mat-label>
              <input [(ngModel)]="updateEmployeeForm.password" matInput placeholder="Secret">
            </mat-form-field>
            <!--Contact Number -->
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Contact Number</mat-label>
              <input [(ngModel)]="updateEmployeeForm.contactNumber" matInput placeholder="00123243831">
            </mat-form-field>
          </div>
          <div class="flex justify-around gap-2">
            <!--Designation -->
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Designation</mat-label>
              <input [(ngModel)]="updateEmployeeForm.designation" matInput placeholder="Junior Developer">
            </mat-form-field>
            <!--Salary -->
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Salary</mat-label>
              <input [(ngModel)]="updateEmployeeForm.salary" type="number" matInput placeholder="10,00">
            </mat-form-field>
          </div>
          <!--Button -->
          <div mat-dialog-actions>
            <button (click)="updateEmployee()" mat-button mat-dialog-close color="primary">UPDATE</button>
          </div>
        </div>
  </div>
