<div class="h-screen w-screen bg-slate-100">
<div class="flex h-full w-full">
  <div class="flex h-full w-60 flex-col justify-between bg-slate-500 shadow-md">
    <!-- Navbar Content Header -->
    <div class="h-full w-full bg-white p-2">
      <ul class="flex cursor-pointer flex-col">
        <li class="border-b-[1px] border-black bg-slate-300 p-2 hover:bg-amber-400">Option 1</li>
        <li class="border-b-[1px] border-black bg-slate-300 p-2 hover:bg-amber-400">Option 2</li>
        <li class="border-b-[1px] border-black bg-slate-300 p-2 hover:bg-amber-400">Option 3</li>
        <li class="border-b-[1px] border-black bg-slate-300 p-2 hover:bg-amber-400">Option 4</li>
      </ul>
    </div>
    <!-- Navbar Content footer -->
    <div class="h-24 w-full bg-slate-900 p-2">
      <p class="text-white">Account Settings</p>
    </div>
  </div>
  <!-- App -->
  <div class="p-4">
    <h1>This is project has built on Angular, TailwindCSS and NestJS</h1>
    <p>Leave & Attendance Record System</p>
    <button mat-raised-button color="primary">Project Running</button>
  </div>
</div>
</div>
