<div class=" flex flex-col gap-4">
  <div>
    <p class=" text-lg font-bold text-fuchsia-800">Leave/Attendance Record </p>
  </div>
  <!--Tabs-->
  <mat-tab-group  dynamicHeight  >
    <!--Tab 1 Leave Request-->
    <mat-tab label="LEAVE RECORD" >
      <!--   Table    -->
      <div class="flex flex-col gap-2 flex-wrap p-10 " >
        <mat-accordion>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Your Leave Record
              </mat-panel-title>
              <mat-panel-description class="text-fuchsia-800" >
                Click me to view your leave record.
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex gap-4 flex-wrap p-10" >
              <mat-card class="w-96 h-auto shadow-xl p-4" *ngFor="let employee of leaveEmployeeRecord">
                <div class="flex flex-col gap-4">
                  <mat-card-title>{{employee.monthYear}}</mat-card-title>
                  <p class=" text-xs font-semibold">Leaves:{{" "}}<span class="font-normal ">{{employee.leaves}}</span> </p>
                  <p class=" text-xs font-semibold">Working Hours:{{" "}}<span class="font-normal ">{{employee.workingHours}}</span> </p>
                </div>
              </mat-card>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </mat-tab>
    <!-- Tab 2 Add Leave     -->
    <mat-tab label="ATTENDANCE RECORD">
      <!-- Card -->
      <div class="flex gap-4 flex-wrap p-10" >
        <mat-card class="w-96 h-auto shadow-xl p-4" *ngFor="let attendance of attendanceRecord">
          <div class="flex flex-col gap-4">
            <mat-card-title>Attendance Record</mat-card-title>
            <mat-card-subtitle class="text-fuchsia-700">Here you can check your attendance record.</mat-card-subtitle>

            <mat-card-actions>
              <!--Button -->
              <div class="flex w-full justify-center" >
                <button class="w-full uppercase" mat-raised-button  color="primary" (click)="openDialog()">Click to view</button>
              </div>
            </mat-card-actions>
          </div>

        </mat-card>
      </div>

    </mat-tab>
  </mat-tab-group>

</div>


