<div class=" flex flex-col gap-4">
  <div>
    <p class=" text-lg font-bold text-fuchsia-800">Leave/Attendance Record </p>
  </div>
  <!--Tabs-->
  <mat-tab-group  dynamicHeight  >
    <!--Tab 1 LEAVE RECORD-->
    <mat-tab label="LEAVE RECORD" >
      <!--   Table    -->
      <div class="flex flex-col gap-2 flex-wrap p-10 " >
        <mat-accordion>
          <mat-expansion-panel  >
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Your Leave Record
              </mat-panel-title>
              <mat-panel-description class="text-fuchsia-800" >
                Click me to view your leave record.
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex gap-4 justify-center  p-10" >
              <mat-card class="w-full h-auto shadow-xl p-4" >
                <div class="flex flex-col gap-4" >
                  <mat-card-title>Leave Record</mat-card-title>
                  <mat-divider></mat-divider>
                  <mat-card-subtitle>Allowed Leaves</mat-card-subtitle>
                  <p class=" text-xs font-semibold">Casual Leaves:{{" "}}<span class="font-normal ">{{recordLeaves["allowedCasualLeaves"]}}</span> </p>
                  <p class=" text-xs font-semibold">Compensatory Leaves:{{" "}}<span class="font-normal ">{{recordLeaves["allowedCompensatoryLeaves"]}}</span> </p>
                  <p class=" text-xs font-semibold">Earned Leaves:{{" "}}<span class="font-normal ">{{recordLeaves["allowedEarnedLeaves"]}}</span> </p>
                  <mat-divider></mat-divider>
                  <mat-card-subtitle>Consumed Leaves</mat-card-subtitle>
                  <p class=" text-xs font-semibold">Casual Leaves:{{" "}}<span class="font-normal ">{{recordLeaves["consumedCasualLeaves"]}}</span> </p>
                  <p class=" text-xs font-semibold">Compensatory Leaves:{{" "}}<span class="font-normal ">{{recordLeaves["consumedCompensatoryLeaves"]}}</span> </p>
                  <p class=" text-xs font-semibold">Earned Leaves:{{" "}}<span class="font-normal ">{{recordLeaves["consumedEarnedLeaves"]}}</span> </p>
                </div>
              </mat-card>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <!-- Tab 2 ATTENDANCE RECORD     -->
    <mat-tab label="ATTENDANCE RECORD">
      <!-- Card -->
      <div class="flex gap-4 flex-wrap p-10" >
        <mat-card class="w-96 h-auto shadow-xl p-4" >
          <div class="flex flex-col gap-4">
            <mat-card-title>Attendance Record</mat-card-title>
            <mat-card-subtitle class="text-fuchsia-700">Here you can check your attendance record.</mat-card-subtitle>
            <mat-card-actions>
              <!--Button -->
              <div class="flex w-full justify-center" >
                <button class="w-full uppercase" mat-raised-button  color="primary" (click)="openRecord()">Click to view</button>
              </div>
            </mat-card-actions>
          </div>
        </mat-card>
        <mat-card class="w-96 h-auto shadow-xl p-4" >
          <div class="flex flex-col gap-4">
            <mat-card-title>Working Hours (Overall)</mat-card-title>
            <mat-card-subtitle class="text-fuchsia-700">{{item}}</mat-card-subtitle>
          </div>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>


