<div class="w-96 h-80 flex-col flex justify-between">
  <div class="overflow-y-auto">
    <h1 mat-dialog-title>Your Attendance</h1>
    <div class="flex w-full justify-between gap-2 p-2">
      <!-- Date Picker-->
      <!--   From Date   -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>From Date</mat-label>
        <input [(ngModel)]="dateForm.fromDate" matInput [matDatepicker]="fromPicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
      </mat-form-field>
    <!--  To Date    -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>To Date</mat-label>
        <input [(ngModel)]="dateForm.toDate" matInput [matDatepicker]="toPicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
      </mat-form-field>

    </div>
      <mat-accordion>
        <div class="flex flex-col gap-2">
          <div class="w-full p-2">
            <!-- if leave record is null   -->
            <div *ngIf="leaveRecord == null">
              <mat-expansion-panel *ngFor="let myRecord of data"  >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{myRecord["attendanceDate"]|date:"mediumDate"}}
                  </mat-panel-title>
                  <mat-panel-description class="text-blue-800">
                    {{myRecord["attendanceDate"]|date:"EEEE"}}
                  </mat-panel-description>
                </mat-expansion-panel-header >
                <div class="flex flex-col gap-4">
                  <p class="font-mono text-sm text-blue-800">TIME IN:{{" "}}<span class="text-red-800">{{myRecord["loginTime"]|date:"shortTime"}}</span> </p>
                  <p class="font-mono text-sm text-blue-800">TIME OUT:{{" "}} <span class="text-red-800 ">{{myRecord["logoutTime"]|date:"shortTime"}}</span></p>
                  <p class="font-mono text-sm text-blue-800">WORKING HOURS:{{" "}} <span class="text-red-800 ">{{myRecord["workingHours"]|number}}</span></p>
                </div>
              </mat-expansion-panel>
            </div>
            <!-- else if show selected record -->
            <mat-expansion-panel *ngFor="let record of leaveRecord"  >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{record["attendanceDate"]|date:"mediumDate"}}
                </mat-panel-title>
                <mat-panel-description class="text-blue-800">
                  {{record["attendanceDate"]|date:"EEEE"}}
                </mat-panel-description>
              </mat-expansion-panel-header >
              <div class="flex flex-col gap-4">
                <p class="font-mono text-sm text-blue-800">TIME IN:{{" "}}<span class="text-red-800">{{record["loginTime"]|date:"shortTime"}}</span> </p>
                <p class="font-mono text-sm text-blue-800">TIME OUT:{{" "}} <span class="text-red-800 ">{{record["logoutTime"]|date:"shortTime"}}</span></p>
                <p class="font-mono text-sm text-blue-800">WORKING HOURS:{{" "}} <span class="text-red-800 ">{{record["workingHours"]|number}}</span></p>
              </div>
            </mat-expansion-panel>
              <!--  else  -->
            <div *ngIf="leaveRecord == '' ">
              <p class="font-mono text-blue-700 text-center" >No Record Found!</p>
            </div>
          </div>
        </div>
      </mat-accordion>
  </div>
    <div class=" flex gap-4 p-2">
      <button mat-stroked-button color="accent" (click)="getAttendance()" >Check Record</button>
      <button mat-stroked-button color="warn" mat-dialog-close>Close</button>
    </div>
</div>
