<mat-drawer-container class="w-screen h-screen" autosize>
  <!-- drawer options -->
  <mat-drawer #drawer mode="side" opened class="w-72">
    <p class="text-lg font-semibold p-4">Company ABC</p>
    <mat-list>
      <div class="flex flex-col gap-12 p-4 w-full">
        <div class="flex gap-2 hover:underline hover:text-fuchsia-800">
          <a routerLink="/admin/add-employee"><mat-icon>note_add</mat-icon></a>
          <a routerLink="/admin/add-employee">Add an Employee</a>
        </div>
        <div class="flex gap-2 hover:underline hover:text-fuchsia-800">
          <a routerLink="/admin/employee-management"><mat-icon>supervised_user_circle</mat-icon></a>
          <a routerLink="/admin/employee-management">Employee Management</a>
        </div>
        <div class="flex gap-2 hover:underline hover:text-fuchsia-800">
          <a routerLink="/admin/leave-management"><mat-icon>build</mat-icon></a>
          <a routerLink="/admin/leave-management">Leave Management</a>
        </div>
        <div class="flex gap-2 hover:underline hover:text-fuchsia-800">
          <a routerLink="/admin/record"><mat-icon>receipt</mat-icon></a>
          <a routerLink="/admin/record">Leave/Attendance Record</a>
        </div>
        <div class="flex gap-2 hover:underline hover:text-fuchsia-800">
          <a routerLink=""><mat-icon>exit_to_app</mat-icon></a>
          <a routerLink="">Logout</a>
        </div>
      </div>
    </mat-list>
  </mat-drawer>
  <!-- main content -->
  <mat-drawer-content>
    <div class="sticky top-0 z-10 bg-white">
      <div class="flex gap-2 items-center  p-1">
        <mat-icon class="cursor-pointer " (click)="drawer.toggle()">tune</mat-icon>
        <p class="p-4 text-xl font-semibold">Welcome: Admin</p>
      </div>
      <mat-divider> </mat-divider>
    </div>
    <div class="p-4"> <ng-content></ng-content> </div>
  </mat-drawer-content>
</mat-drawer-container>

