<mat-drawer-container class="w-screen h-screen" autosize>
  <!-- drawer options -->
  <mat-drawer mode="side" opened class="w-80 drawer-container">
      <div class="flex justify-center mt-2">
        <img class=" h-24 " src="./assets/vu.png" alt="">
      </div>
    <mat-list>
      <div class="flex flex-col p-2 mt-2 mb-8  w-full"
           *ngFor="let option of options"
           (click)="setSelectedOption(option)"
           [ngClass]="{ 'active-option': option.active }"
           [routerLink]="option.path" >
        <div class="flex gap-4 cursor-pointer px-4">
          <mat-icon>{{option.icon}}</mat-icon> {{ option.name }}
        </div>
      </div>
      <div class="ml-2 cursor-pointer px-4 flex items-center gap-4" (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>Logout
      </div>
    </mat-list>
  </mat-drawer>
  <!-- main content -->
  <mat-drawer-content>
    <div class="sticky top-0 z-10 bg-white">
      <div class="flex gap-2 justify-between items-center p-1">
        <p class="p-4 text-lg font-semibold">Welcome: Admin</p>
        <!-- Show on small and medium screen -->
        <div class="show-icon mr-2">
          <button mat-button [matMenuTriggerFor]="menu"><mat-icon>tune</mat-icon></button>
          <mat-menu #menu="matMenu">
            <div class="flex flex-col mt-2 mb-2 p-2 w-full"
                 *ngFor="let option of options"
                 (click)="setSelectedOption(option)"
                 [ngClass]="{ 'active-option': option.active }"
                 [routerLink]="option.path" >
              <div class="flex gap-4 cursor-pointer px-4">
                <mat-icon>{{option.icon}}</mat-icon> {{ option.name }}
              </div>
            </div>
          </mat-menu>
        </div>
      </div>
      <mat-divider> </mat-divider>
    </div>
    <div class="p-4"> <ng-content></ng-content> </div>
  </mat-drawer-content>
</mat-drawer-container>

