<mat-drawer-container class="w-screen h-screen">
  <!-- drawer options -->
  <mat-drawer mode="side" opened class="w-60 ">
    <p class="text-lg font-semibold p-4">Company ABC</p>
    <mat-list>
      <div class="flex flex-col gap-12 p-4 w-full">
        <a routerLink="/admin/add-employee">Add Employee</a>
        <a routerLink="/admin/employee-management">Employee Management</a>
        <a routerLink="/admin/leave-management">Leave Management</a>
        <a routerLink="/admin/record">Leave/Attendance Record</a>
        <a routerLink="">Logout</a>
      </div>
    </mat-list>
  </mat-drawer>
  <!-- main content -->
  <mat-drawer-content class="flex flex-col " >
    <div class="sticky top-0 z-10 bg-slate-50">
      <p class="p-4 text-xl font-semibold ">Welcome Admin </p>
      <mat-divider> </mat-divider>
    </div>
    <div class="p-4"> <ng-content></ng-content> </div>
  </mat-drawer-content>
</mat-drawer-container>

