<div class=" flex flex-col gap-4">
  <div>
    <p class=" text-lg font-bold text-fuchsia-800">Attendance </p>
  </div>
  <!--Card-->
  <div class="flex gap-4 flex-wrap" >
    <mat-card class="w-96 h-auto shadow-xl p-4 flex-col gap-6 " >
      <div class="flex flex-col gap-2">
          <mat-card-title>Attendance</mat-card-title>
          <mat-card-subtitle class="text-fuchsia-800">Mark your attendance here.</mat-card-subtitle>
          <mat-card-subtitle class="text-red-700 text-xs">Note: Attendance can be marked only once in a day.</mat-card-subtitle>
      </div>
<!--      <div class="flex flex-col gap-4">-->
<!--        <p class=" text-xs font-semibold">Log Time In:{{" "}}<span class="font-mono text-fuchsia-800 text-[14px]">{{attendance.loginTime|date:"shortTime"}}</span> </p>-->
<!--        <p class=" text-xs font-semibold">Log Time Out:{{" "}}<span class="font-mono text-fuchsia-800 text-[14px]">{{attendance.logoutTime|date:"shortTime"}}</span> </p>-->
<!--      </div>-->
      <mat-card-actions>
        <!--Button -->
        <div class="flex w-full justify-end gap-2" >
          <button  mat-raised-button  color="primary" (click)="logTimeIn()">TIME IN</button>
          <button  mat-raised-button  color="accent" (click)="logTimeOut()">TIME OUT</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
